body {
	padding-top: 50px;
	padding-bottom: 20px;
}

.col-master {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

#schedule .row div {
	padding-top: 10px;
	padding-bottom: 10px;
}

/* Header top, left */
#schedule .row.header div, #schedule .row div:first-child {
	background-color: lightgray;
}

#login-container {
	position: absolute;
	top: 70px;
	left: 50%;
	margin-left: -200px;
	width: 400px;
}