body {
	padding-top: 50px;
	padding-bottom: 20px;
}

#master1, #master2, #master-detail {
	position: relative;
	float: left;
}
#master1 {
	width: 20%;
}
#master2 {
	width: 20%;
}
#master-detail {
	width: 60%;
}
#master-detail:after {
	clear: both;
}

#login-container {
	position: absolute;
	top: 70px;
	left: 50%;
	margin-left: -200px;
	width: 400px;
}